body {
		font-family: 'Cairo', sans-serif;
		height: 100% ;
		font-size: 1.17vw;
}
.container{
	max-width: 80vw;
}
.Ex-Logo{
	width: 16.8vw;
	padding-bottom: 0.1vw;
}
	
.nav-item {
	color: #22B8A3;
	padding-left: 2.48vw;
	vertical-align: text-bottom;
}
.navbar-dark {
	background-color:#22B8A3;

} 
#navbar{
	transition: 0.4s ;
	height: 8.6vw;
}
#navbar #logo {
	transition: 0.4s;

}

.btn-primary{
	background-color: #61327C;
	border: none;
	width: 20.4vw;
	height: 3.4vw;
	font-size: 110%;
	border-radius: 500px;
}
.btn-primary:hover{
	background-color:rgb(138, 74, 175);
	border: none;
	box-shadow: #2F455C ;
}
#boxessmall{
	display: none;
}
.square{
	width:13vw; 
	height: 13vw;
	background-color:#22B8A3;
	display: inline-block;
	max-width: 12.8vw;
	max-height: 12.8Vw;

}
.square>img{
	width: 6.46vw;
}
.square>h6{
	font-size: 0.7vw;
	color: #ffffff;
}
	
#Cyan{
	color: #22B8A3;
}
.semi-Heading{
	color: #61327C;
}
#Images{
	width: 24vw;
	padding-top: 5vw;
	
}
.row-header {
	margin: 0px;
	padding: 11vw 0px 0px 0px;
}
.row-content {
	margin: 0px auto;
	padding: 3.6vw 0px 50px 0px;
	min-height: 400px;
}
.row-content2 {
	margin: 0px auto;
	padding: 3.6vw 0px 50px 0px;
	min-height: 1vw;
}
h1{
	line-height: 3.66vw;
	color: white;
	font-size: 2.92vw;
}
h6{
	font-size: 1.17vw;
	line-height: 1.5;
}
h5{
	font-size: 1.46vw;
}
h4{
	font-size: 1.66vw;
}
h2{
	font-size: 2.2vw;
}
.jumbotron {
	position: relative;
	top: 6.5vw;
	height:29vw ;
	color: rgb(255, 255, 255);
	width: 100%;
	background-image: url(Imgs/Jumbtrone.jpg);
	background-size: cover;
	overflow: hidden;
}
.jumbotron>div {
	font-weight:400 ;
	font-size:3.58vw ;
}
.jumbotron2 {
	position: relative;
	top: 8.55vw;
	height:20vw ;
	color: rgb(255, 255, 255);
	width: 100%;
	background-color:#61327C ;
	background-size: cover;
	overflow: hidden;
}
.jumbotron2>div {
	font-weight:300 ;
	font-size:3.58vw ;
}
.jumbotron3 {
	position: relative;
	height:25vw ;
	color: rgb(255, 255, 255);
	width: 100%;
	background-color:#22B8A3 ;
	background-size: cover;
	overflow: visible;
}
.jumbotron3>div {
	font-weight:300 ;
	font-size:3.58vw ;
}
.jumbotron4 {
	position: relative;
	padding-top: 3.6vw;
	top: 8.55vw;
	height:16vw ;
	color: rgb(255, 255, 255);
	width: 100%;
	background-color:#22B8A3 ; 
}
.jumbotron4>div {
	font-weight:300 ;
	font-size:4vw ;
}
.jumbotron5 {
	position: relative;
	padding-top: 3.6vw;
	top: 8.55vw;
	height:20vw ;
	color: rgb(255, 255, 255);
	width: 100%;
	background-color:#22B8A3 ; 
}
.jumbotron5>div {
	font-weight:300 ;
	font-size:4vw ;
	vertical-align: middle;
}
.jumbotron5>h6 {
	font-weight:300 ;
}
.jumbotron6 {
	position: relative;
	padding-top: 3.6vw;
	top: 8.55vw;
	height:40vw ;
	color: rgb(255, 255, 255);
	width: 100%;
	background-color:#22B8A3 ; 
}
.jumbotron6>div {
	font-weight:300 ;
	font-size:4vw ;
}
#watch{
	background-color: #61327C;
	border: none;
	width: 22vw;
	height: 3.4vw;
	font-size: 110%;
	border-radius: 500px;
}
#watch>.btn-primary:hover{
	background-color:rgb(138, 74, 175);
	border: none;
	box-shadow: #2F455C ;
}
#laptop{
	width: 50vw;
	margin-top: -10vw;
	margin-right: 0px;
	position: relative;
	right: 0px;
}
#partners{
	width: 55.3vw ; 
	margin: 0 auto;
	display: block;
	
}
#emailid{
	border-radius: 500px;
	width: 36.8vw;
	height:3.4vw ;
}
.bold{
	font-weight:700 ;
}

.footer{
	height: 19.21vw;
}
.footer2{
	height: 27vw;
}
.footer3{
	padding-left: 7.32vw;

}
#Subscribe{
	position: relative;
	right: 0;
	float: right;
	clear: all;
	width: 16.5vw;
	height:3.4vw ;

}
.form-control{
	float: right;
	font-size: 1.1vw;
}
.cir{
	color: #ffffff;
 
}

.fa-4x{
font-size: 1.7vw;
color: #61327C;
}
.fa-4x:hover{
	color: #22B8A3;
}
.btn-secondary{
	background-color: #22B8A3;
	border: none;
	width: 16.4vw;
	height: 3.4vw;
	font-size: 110%;
	border-radius: 500px;
}
.btn-secondary:hover{
	background-color:#1f9989;
	border: none;
	box-shadow: #2F455C ;
}
.footertext1{
	color: #494949;
}
.footertext{
	color: #494949;
}
.footertext:hover{
	color: #000000;
	text-decoration: none;
}
.FooterLogos{
	margin: 0 auto;
	width: 16.8vw;
}
.ffooter{
padding-top: 3vw;
}
.IEEE{
	position: absolute;
	clear: right;
	float: right;
	width: 10vw;
	right:4vw;
}
.tems{
	width: 17vw;
	max-width: 29vw;
	margin-bottom: 14.64vw;
}
@media (max-width: 767.98px)  {

	#navbar{
		transition: 0.4s ;
		height: 5rem;
	}
	#navbar #logo {
		transition: 0.4s;
	
	}
	.row{
		text-align: center;
	}

	h1{
		line-height: 3rem;
		color: white;
		font-size: 2.2rem;
	}
	h6{
		font-size: 1rem;
		line-height: 1.2rem;
	}
	h5{
		font-size: 1.2rem;
		line-height: 1.4rem;
	}
	h4{
		font-size: 2rem;
	}
	h2{
		font-size: 2.5rem;
	}
	.jumbotron {
		position: relative;
		top: 6.5vw;
		height:30rem ;
		color: rgb(255, 255, 255);
		width: 100%;
		background-image: url(Imgs/Jumbtrone.jpg);
		background-size: cover;
		overflow: hidden;
	}
	.jumbotron>div {
		font-weight:400 ;
	}
	.jumbotron2 {
		position: relative;
		height:31.5rem ;
		color: rgb(255, 255, 255);
		width: 100%;
		background-color:#61327C ;
	}
	.jumbotron2>div {
		font-weight:300 ;
		font-size:3.58vw ;
	}
	.jumbotron3 {
		position: relative;
		height:25vw ;
		color: rgb(255, 255, 255);
		width: 100%;
		background-color:#22B8A3 ;
		background-size: cover;
		overflow: visible;
	}
	.jumbotron3>div {
		font-weight:300 ;
		font-size:3.58vw ;
	}
	.jumbotron4 {
		position: relative;
		padding-top: 3.6vw;
		top: 8.55vw;
		height:16vw ;
		color: rgb(255, 255, 255);
		width: 100%;
		background-color:#22B8A3 ; 
	}
	.jumbotron4>div {
		font-weight:300 ;
		font-size:4vw ;
	}
	.jumbotron5 {
		position: relative;
		padding-top: 3.6vw;
		top: 8.55vw;
		height:20vw ;
		color: rgb(255, 255, 255);
		width: 100%;
		background-color:#22B8A3 ; 
	}
	.jumbotron5>div {
		font-weight:300 ;
		font-size:4vw ;
		vertical-align: middle;
	}
	.jumbotron5>h6 {
		font-weight:300 ;
	}
	.jumbotron6 {
		position: relative;
		padding-top: 3.6vw;
		top: 8.55vw;
		height:40vw ;
		color: rgb(255, 255, 255);
		width: 100%;
		background-color:#22B8A3 ; 
	}
	.jumbotron6>div {
		font-weight:300 ;
		font-size:4vw ;
	}
	.row-header {
		margin: 0px;
		margin-top:7rem ;
	}
	
	.container{
		max-width: 100%;
		padding: 0;
	}
	.btn-primary{
		background-color: #61327C;
		border: none;
		width: 13.5rem;
		height: 2.3rem;
		font-size: 110%;
		border-radius: 500px;
		margin-top: 1rem;
	}
	#boxeswd{
		display: none;
	}
	#boxessmall{
		display: inline-block;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}
	.square{
		display: inline-block;
		width:9.5rem; 
		height: 9.5rem;
		background-color:#22B8A3;
		max-width: 1000px;
		max-height: 1000px;
		margin: 5px 5px 0px 0 ;
		
	
	}
	.square>img{
		width: 4.5rem ;
		padding-top: 15px; 

	}
	.square>h6{
		font-size: 0.6rem   ;
		line-height: 0.8rem;
		color: #ffffff;
	}
  }