
  body{
    background-color: #fdffbc;
  }

 hr{
   border-style: dotted none none;
   border-color: #ffc1b6;
   border-width: 10px;
   width: 7%;
 }
h1:hover{
      color: gold;
      font-size: 55px;
}
h3{
  color: #1e6f5c;
}
img:hover {
  background-color: gold;
}
.basketball{
  background-color: #bdd2b6;
}
.manbasketball{
    background-color: #a2b29f;
}
.bla{
    color: hotpink;
    font-size: 20px;
}
.hover{
  color: #1e6f5c;
  font-size: 50px;
}
